<html>
  <head>
    <link rel="stylesheet" href="/Content/CSS/bootstrap.css" type="tex/css">
    <link rel="stylesheet" href="/Content/CSS/styles.css" type="text/css">
    <title>Word Counter Result!</title>
  </head>
  <body>
    <h1>Results:</h1>
    <h2>Your word "@Model.GetUserWord()" is included <p3>@Model.GetWordsCounted()</p3> times in your sentence "@Model.GetUserString()".</h2>

    <a href="/"><button type = "button" name = "buttonm" class="bt btn-md">Play Again!</button></a>
  </body>
</html>
